.HeaderTitle {
  font-size: 1rem;
  font-weight: 400;
  color: #7F56C5;
  display: inline-block;
  margin: 0;
}

.HeaderSection {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.ListHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: rubikregular;
}

.PageLoc {
  font-size: 0.875rem;
  font-weight: 400;
  color: #7F56C5;
  margin-left: 25px;
}

.PageLoc > .Bold {
  font-weight: 700;
}

.PageNav {
  font-size: 0.95rem;
  font-weight: 700;
  color: #1DAFE9;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.Pipe {
  font-size: 1rem;
  font-weight: 300;
  color: #BCBEC0;
  font-family: rubikregular;
  margin-left: 5px;
  margin-right: 5px;
}

.SortBy {
  font-size: 0.75rem;
  font-weight: 400;
  color: #7F56C5;
  font-family: rubikregular;
}

.SortBy::after {
  display: inline-block;
  padding-top: 2px;
  padding-left: 5px;
  content: '▼';
  font-size: 0.5rem;
  font-weight: 600;
  color: #1DAFE9;
  font-family: rubikregular;
  pointer-events: none;
  margin-left: -15px;
}

select {
  -webkit-appearance: none;  
  -moz-appearance: none;  
  border: 0;
  background-color: white;
  font-size: 0.75rem;
  font-weight: 600;
  color: #1DAFE9;
  font-family: rubikregular;
  margin-left: 4px;
  cursor: pointer;
}

select.Sort {
  width: 85px;
}

select.Count {
  width: 39px;
}
